html, body, section {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #78909C;
}

img {
    width: 150px;
    height: 50px;
}

nav {
    background-color: #78909C;
    height: 10%;
    display: flex;
    align-items: center;
}

a.button {
    transition: .5s;
    height: 50px;
    width: 100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 800;
    font-size: 30px;
    line-height: 50px;
    box-shadow: 0 0 20px 20px white;
    margin-top: 10px;
}

a.button:hover {
    box-shadow: 0 0 20px 20px black;
    background-color: black;
    color: white;
}

img {
    margin-left: 10px;
}

div.navlinks {
    display: flex;
    align-self: right;
}

a.link1, a.link2, a.link3, a.link4 {
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

div.main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    margin-top: 100px;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}

a {
    text-decoration: none;
}